@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic);


@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  color: #151515;
  overflow-x: hidden;
}

.text-green {
  color: #6A983C;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  transition: all .3s;
}

body {
  font-family: "Open Sans";
  --black: #151515;
  --green: #6a983c;
  --dark-green: #46760a;
  --light-gray: #f9f9f9;
  --gray: #575757;
  --tags-gray: #f5f5f5;
  --pomodoro: #e5704b;
  --lightgray: #9c9e9f;
  --white: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


section {
  padding-top: 64px;
  padding-bottom: 64px;
}

.main-container {
  width: 90%;
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.pattern-1 {
  background-image: url("../img/hero-shape.png");
}


.main-paragraph {
  font-size: 15px;
  line-height: 200%;
  color: #02073e;
  font-weight: 100;
}


button {
  font-family: "Poppins";
  transition: all 0.3s;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  border-radius: 12px !important;
}

.btn-xxl {
  min-width: 214px;
  padding: 12px 0;
}

.btn-xl {
  min-width: 170px;
  padding: 16px 0;
}

.btn-md {
  min-width: 84px;
  padding: 12.5px 0;
}

.btn-sm {
  min-width: 76px;
  padding: 6.5px 0;
}

.btn-success {
  background: var(--green);
  border: 2px solid var(--dark-green);
  color: #fff;
}
.btn-success:hover {
  background: var(--dark-green);
}

.btn-buy {
  padding: 6.5px 12px;
}

.btn-border {
  color: var(--black);
  background: none;
  border: 2px solid var(--green);
  border-radius: 12px;
}

.btn-transparent {
  color: #a9a9a9;
  background-color: transparent;
}
.btn-transparent:hover {
  color: var(--black);
}
.btn-animate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 11px;
  
}
.btn-animate img {
    transition: all 0.3s !important;
}
.btn-animate:hover img {
  transform: translateX(5px);
}

.btn-gray {
  background: var(--tags-gray);
  color: var(--black);
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 9px;
  padding: 6.5px 12px;
}
.tag {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  border-radius: 12px;
  display: inline-flex;
  gap: 4px;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;
}
.tag-not-selected {
  background: var(--tags-gray);
  padding: 4px 10px;
  color: var(--black);
}
.tag-not-selected:hover {
  background: #e6e5e5;
}

.tag-selected {
  color: var(--green);
  padding: 0 8px;
  background: #f4f8ec;
}
.tag-selected:hover {
  background: #e0f1cf;
}

[slider] {
  position: relative;
  height:6px;
  border-radius: 10px;
  text-align: left;
  margin: 45px 0 10px 0;
}

[slider] > div {
  position: absolute;
  left: 13px;
  right: 15px;
  height:6px;
}

[slider] > div > [inverse-left] {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #ebebeb;
  margin: 0 7px;
}

[slider] > div > [inverse-right] {
  position: absolute;
  right: 0;
  height: 6px;
  border-radius: 10px;
  background-color: #ebebeb;
  margin: 0 7px;
}

[slider] > div > [range] {
  position: absolute;
  left: 0;
  height: 6px;
  border-radius: 14px;
  background-color: #6A983C;
}

[slider] > div > [thumb] {
  position: absolute;
  top: -7px;
  z-index: 2;
  height: 20px;
  width: 20px;
  text-align: left;
  margin-left: -11px;
  cursor: pointer;
  border: 1px solid #D1D1D1;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  border-radius: 50%;
  outline: none;
}

[slider] > input[type="range"] {
  position: absolute;
  pointer-events: none;
  -webkit-appearance: none;
  z-index: 3;
  height: 6px;
  top: -2px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  -khtml-opacity: 0;
  opacity: 0;
}

div[slider] > input[type="range"]::-ms-track {
  -webkit-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  background: transparent;
  color: transparent;
}

div[slider] > input[type="range"]:focus::-webkit-slider-runnable-track {
  background: transparent;
  border: transparent;
}

div[slider] > input[type="range"]:focus {
  outline: none;
}

div[slider] > input[type="range"]::-ms-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-moz-range-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0px;
  border: 0 none;
  background: red;
}

div[slider] > input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
  width: 20px;
  height: 20px;
  border-radius: 0px;
  border: 0 none;
  background: red;
  -webkit-appearance: none;
}

div[slider] > input[type="range"]::-ms-fill-lower {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-fill-upper {
  background: transparent;
  border: 0 none;
}

div[slider] > input[type="range"]::-ms-tooltip {
  display: none;
}

[slider] > div > [sign] {
  opacity: 0;
  position: absolute;
  margin-left: -11px;
  top: -39px;
  z-index: 3;
  background-color: #6A983C;
  color: #fff;
  width: 28px;
  height: 28px;
  border-radius: 28px;
  -webkit-border-radius: 28px;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  text-align: center;
}

[slider] > div > [sign]:after {
  position: absolute;
  content: "";
  left: 0;
  border-radius: 16px;
  top: 19px;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  border-top-width: 16px;
  border-top-style: solid;
  border-top-color: #6A983C;
}

[slider] > div > [sign] > span {
  font-size: 12px;
  font-weight: 700;
  line-height: 28px;
}

[slider]:hover > div > [sign] {
  opacity: 1;
}
.mobile-burger {
  background-image: url("../img/burger.svg");
}
.mobile-burger.active {
  background-image: url("../img/close-burger.svg");
}

.mobile-menu.active {
  left: 0 !important;
}

.img-dark-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 20;
}


::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background: var(--green);
}

.testimonial__text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 0.01rem;
  bottom: 0;
  left: 0;
  background: #ea3a60;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}

.underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.accordion__contentBox .accordion__title::before {
  content: "+";
  position: relative;
  left: 0;
  margin-right: 20px;
}

.accordion__contentBox.active .accordion__content {
  height: auto !important;
  padding-top: 20px;
}

.accordion__contentBox.active .accordion__title::before {
  content: "-";
}


.swiper {
  cursor: grab;
}
.swiper:active {
  cursor: grabbing;
}
.swiper-slide {
    cursor: pointer;
}


.mySwiper {
  width: 100%;
  height: 420px;
  cursor: grab;
}
.mySwiper:active {
  cursor: grabbing;
} 
.swiper-slide {
    position: relative;
    z-index: 40;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s !important;
}


.blog-image {
  background: url("../img/food-1.png");
  background-size: cover;
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  cursor: pointer;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 15px;
  line-height: 22px;
  transition: all 0.3s;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 9px;
  right: 10px;
  width: 8.35px;
  height: 4.93px;
  transform: rotate(0);
  transition: all 0.3s;
  background: url("../img/chevron-down.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

nav .select-selected {
    font-weight: 500;
}
nav .select-selected:after {
    background: url("../img/chevron-down-sm.svg");
    width: 6.76px;
    height: 4.2px;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  top: 8px;
  transform: rotate(180deg);
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;
}
.select-items div {
  padding: 5px;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background: var(--light-gray);
  top: 155%;
  left: 0;
  right: 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  z-index: 99;
  padding-bottom: 20px;
  transition: 0.3s;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.tab-btn.active {
  background-color: #fff;
}

.tab-body {
  position: relative;
  top: -200%;
  transition: opacity 0.3s ease-in-out 0ms, transform 0.3s ease-in-out 0ms;
  opacity: 0;
}
.tab-body.active {
  position: absolute;
  top: 0;
  opacity: 1;
  transition-delay: 0.35s;
  margin-top: 0;
}

.logoName-2 {
  display: none;
}

.learn_more:hover img {
  position: relative;
  animation: right 0.5s ease-out infinite;
}

@keyframes right {
  0% {
      left: 0;
  }
  50% {
      left: 5px;
  }
  100% {
      left: 0;
  }
}

@media (max-width: 460px) {
  .text-base {
      font-size: 10px !important;
  }
  .title-md {
      font-size: 14px;
  }
  .main-paragraph {
      font-size: 12px;
  }
  nav .logoName-1 {
          display: none;
      }
  nav .logoName-2 {
          display: block;
      }
}

@media (min-width: 1440px) {
  .title-xl {
      font-size: 48px !important;
  }
  .footer-text {
      font-size: 36px !important;
  }
}


input[type="checkbox"] {
  position: relative;
  width: 20px;
  height: 20px;
  color: var(--black);
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  appearance: none;
  outline: 0;
  cursor: pointer;
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
  &::before {
      position: absolute;
      content: "";
      display: block;
      top: 2px;
      left: 7px;
      width: 5px;
      height: 12px;
      border-style: solid;
      border-color: var(--white);
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
      opacity: 0;
  }
  &:checked {
      color: var(--white);
      border-color: #46760a;
      background: #6a983c;
      &::before {
          opacity: 1;
      }
      ~ label::before {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
  }
}



.filters form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 10px 16px;
  gap: 16px;
}
.filters form:hover {
  background-color: #f9f9f9;
}

label {
  display: flex;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  /* Accessible outline */
  /* Remove comment to use */

  input {
      position: absolute;
      left: -9999px;
      &:checked + span {
          &:before {
              box-shadow: inset 0 0 0 5px #000000;
          }
      }
  }
}
span {
     display: flex;
     align-items: center;
     border-radius: 99em; 
     transition: 0.3s ease;
     font-size: 14px;
     font-weight: 400;
     line-height: 19px;
     &:before {
         display: flex;
         flex-shrink: 0;
         content: "";
         background-color: #fff;
         width: 1.5em;
         height: 1.5em;
         border-radius: 50%;
         margin-right: 0.375em;
         transition: 0.25s ease;
         box-shadow: inset 0 0 0 0.5px #d1d1d1;
     } 
  } 

.product-box {
  border: 1px solid #d1d1d1;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 869px;
  margin: 0 auto;
  .product-imgBox {
      background-color:  #f9f9f9;
      border-radius: 12px;
      overflow: hidden;
      min-width: 268px;
      height: 280px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
  }
  .product-content {
      padding: 32px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      .product-header {
          margin-bottom: 25px;
          .product-title {
              font-family: 'Poppins';
              font-weight: 600;
              font-size: 18px;
              line-height: 27px;
              margin-bottom: 4px;
          }
          .product-desc {
              font-weight: 400;
              font-size: 12px;
              line-height: 16px;
              margin-bottom: 8px;
              color: #575757;
          }
          .product-rating {
              display: flex;
              align-items: center;
              gap: 5px;
              img {
                  width: 16.74px;
                  height: 15.97px;
              }
          }
      }
      .product-about {
          color: #a9a9a9;
          font-weight: 400;
          font-size: 14px;
          line-height: 19px;
          td {
              padding-right: 32px;
              padding-bottom: 12px;
          }
      }
  }
  .product-price {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
  }
  .product-sale {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-decoration-line: line-through;
      margin-bottom: 16px;
      color: #a9a9a9;
  }
  .product-shipping-status {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #A9A9A9;
  }
  .product-shipping-duration {
      font-weight: 400;
      font-size: 12px;
      line-height: 16px;
      color: #A9A9A9;
      margin-bottom: 26px;
  }
  button.btn-success {
      margin-bottom: 12px;
  }
}


.product-box.grid{
  width:268px;
  height: auto;
  padding: 16px !important;
  .product-content {
      flex-direction: column;
      padding: 0 !important;
  }
  .product-imgBox {
      min-width:236px !important;
      height: 180px !important;
      margin-bottom: 16px;
  }
  .btn-success,
  .product-sale {
      margin-bottom: 0 !important;
  }

}




@media (max-width: 1024px) {
  .product-box {
      margin: 0 20px !important;
  }
}

@media (max-width: 767px) {
  .product-box,
  .product-content {
      flex-direction: column;
  }
  .product-box {
      width:268px;
      height: auto;
      padding: 16px !important;
  }
  .product-content {
      padding: 0 !important;
  }
  .product-imgBox {
      min-width:236px !important;
      height: 180px !important;
      margin-bottom: 16px;
  }
  .product-about,
  .product-btns,
  .product-shipping {
      display: none;
  }
  .product-price-and-btn {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .btn-success,
  .product-sale {
      margin-bottom: 0 !important;
  }
}

.filter-aside.active {
  left: 0 !important;
  background: #f1f1f1;
  border-radius: 12px;
  padding: 20px;
  width: 267px !important;
}

.items-img .item-imgBox,
.item-imgBox {
  position: relative;
  overflow: hidden;
  width: 90%;
  z-index: 20;
  border-radius: 12px;
  background: #F9F9F9;
  img {
      width: 100%;
      height: auto;
  }
}

.item-imgBox {
  max-width: 569px;
  height: 436px;
  
}
.item-table {
  td {
      font-weight: 400;
      font-size: 14px;
      line-height: 19px;
      padding-bottom: 12px;
      &:nth-child(even) {
          color: #a9a9a9;
      }
  }
} 


@layer components {
  .main-cards {
  @apply w-[269px] h-[323px] p-4 rounded-xl border border-solid border-[#d1d1d1]
  }
  .main-cards__imgBox {
      @apply relative h-[180px] rounded-xl bg-[#f9f9f9] mb-4
  }
  .main-cards__sale {
      @apply absolute top-3 left-[20px] text-[#6A983C] font-semibold text-[12px] leading-[18px] font-['Poppins'] z-30
  }
  .main-cards__title {
      @apply text-[15px] font-medium leading-[22.5px] font-['Poppins']
  }
  .main-cards__desc {
      @apply text-[12px] font-normal leading-[16px] text-[#575757] mb-4
  }
  .main-cards__footer {
      @apply flex items-center justify-between
  }
  .main-cards__price {
      @apply text-[18px] font-semibold font-['Poppins'] leading-[27px]
  }
  .main-cards__old-price {
      @apply text-[12px] text-[#A9A9A9] font-['Poppins'] font-semibold leading-[18px] line-through
  }
  .main-cards__button {
      @apply btn-sm btn-buy btn-success btn-animate
  }



  .aside-links {
      @apply rounded-xl  w-full h-[282px]
  }
  .aside-links__title {
      @apply text-[18px] mb-4 font-semibold leading-[27px] font-['Poppins']
  }
  .aside-links__links {
      @apply flex flex-col mb-12
  }
  .aside-links__item {
      @apply underline hover:no-underline text-[14px] mb-3 text-[#6A983C] font-normal leading-[19px]
  }
  .aside-links__item-nolink {
      @apply cursor-pointer no-underline flex items-center justify-between hover:bg-[#f1f1f1] rounded-xl text-[14px] mb-3 font-normal leading-[19px]
  }
  .aside-links__button {
      @apply btn-xl btn-gray btn-animate justify-center
  }

  .aside-rating img {
      @apply w-[13.39px] h-[12.77px]
  }


  
  .product-box.list .product-about,
  .product-box.list .product-shipping {
      @apply hidden md:block
  }    
  .product-box.grid .product-about,
  .product-box.grid .product-shipping {
      @apply hidden
  }
  .product-box.list .product-price-and-btn{
      @apply flex flex-row md:flex-col items-center w-full justify-between md:w-auto md:items-start
  }
  .product-box.grid .product-price-and-btn {
      @apply flex flex-row items-center w-full justify-between
  }
  .product-box.list .product-btns{
      @apply hidden md:block
  }
  .product-box.grid .product-btns {
      @apply hidden
  }
  





  .testimonial {
      @apply relative w-[369px] border border-solid border-[#f1f1f1] rounded-xl pt-6 px-8 -z-[1]
  }
  .testimonial__text {
      @apply text-center font-['Poppins'] font-medium text-[15px] leading-[22.5px] select-none
  }
  .testimonial__name {
      @apply text-center text-[#a9a9a9] text-[12px] leading-[18px] font-['Poppins'] font-semibold mt-6 mb-10
  }
  .testimonial__avatar {
      @apply absolute -bottom-[12%] left-1/2 -translate-x-1/2 w-12 h-12 rounded-full z-30
  }





  .gray-rounded {
      @apply border border-solid border-[#d1d1d1] bg-[#f9f9f9] rounded-xl
  }

  .rounded-bordered {
      @apply border border-solid rounded-xl
  }

  .filter-text {
      @apply text-[14px] font-normal leading-[19px]
  }

  .blog-image {
      @apply relative h-[400px] rounded-[12px] overflow-hidden cursor-pointer duration-300 bg-center
  }
  .blog-image img{
      @apply duration-300
  }
  .blog-image:hover{
      @apply bg-right-top 
  }
  .blog-image .tag {
      @apply absolute top-6 left-6 z-30
  }
  .blog-image__title {
      @apply font-['Poppins'] font-semibold text-[22px] leading-[33px] text-white mb-2
  }
  .blog-image__footer {
      @apply absolute bottom-6 left-6 right-6 z-30
  }
  .blog-image__user-wrapper {
      @apply flex items-center
  }
  .blog-image__avatar {
      @apply w-8 h-8 rounded-full mr-2
  }
  
  
  
  .author-date {
      @apply font-normal text-[12px] leading-[16px] mr-4
  }

  .blog-wrapper {
      @apply w-[269px] cursor-pointer
  }
  .blog-wrapper:hover .blog__imgBox img {
      @apply scale-110
  }
  .blog-wrapper:hover .blog__title {
      @apply underline
  }
  .blog__imgBox {
      @apply h-[180px] rounded-[12px] overflow-hidden
  }
  .blog__imgBox img{
      @apply duration-300
  }
  .blog__tag {
      @apply inline-block mt-6 mb-2
  }
  .blog__title {
      @apply text-[18px] mb-4 leading-[27px] font-['Poppins'] font-semibold
  }
  

  
  .footer__title {
      @apply font-['Poppins'] font-semibold text-[18px] leading-[27px] mb-4
  }
  .footer__anchor-wrapper {
      @apply flex flex-col items-stretch gap-4
  }
  .footer__anchor {
      @apply font-normal text-[14px] leading-[19px] text-[#6A983C] duration-300
  }
  .footer__anchor:hover {
      @apply translate-x-2
  }

  .pagination {
      .active {
          @apply text-[#6A983C]
      }
  }


  
  

}



body {
  color:var(--black);
}

@media (max-width: 1309px) {
  
  .blog-blocks {
      flex-direction: row !important;
      flex-wrap: wrap;
      justify-content: space-evenly;
  }
  
}

@media (max-width: 410px) {
  .footer-links {
      flex-direction: column !important;
      justify-content: space-evenly;
  }
}

